BOT_TOKEN=8494296417:AAGSOP084f-TyrIwo6gdq7K-bjFK4i2vU44
MONGODB_URI=mongodb+srv://footballcontenthd:RizoeL@cluster0.z4ccfiu.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
TWITTER_BEARER=AAAAAAAAAAAAAAAAAAAAAIdj4gEAAAAAFdhOFrXgv08UoVlsQT1k7fFI2CE%3Dote1sHYDoPPGZIvMSJyfH3FCGXwRpyxo7ykFXu9ODszarUBwaw
OPENAI_API_KEY=OPTIONAL
CHANNEL_ID=@barca_things
OWNER_ID=@WhichType
WEBHOOK_URL=
