python-telegram-bot[ext]==20.7
pymongo==4.6.0
tweepy==4.14.0
newspaper3k==0.2.8
openai==1.10.0
python-dotenv==1.0.0
nltk==3.8.1
emoji==2.10.1
Flask==3.0.3
gunicorn==22.0.0
aiohttp==3.9.5
fastapi==0.111.0
uvicorn[standard]==0.23.2
